.footer-link {
    text-transform: uppercase; /* Chuyển toàn bộ chữ thành chữ hoa */
    display: block; /* Chuyển mỗi liên kết thành một khối riêng biệt */
    white-space: pre-line; /* Cho phép xuống dòng */
}
/* styles.css */
body {
    background-color: white;
    color: black;
}
.dark body {
    background-color: #1a202c; /* gray-900 */
    color: white;
}


.light-mode {
    @apply bg-white text-black;
}
.dark-mode {
    @apply bg-gray-900 text-white;
}
